.title {
    margin-top: 2em;
    margin-bottom: -1em;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.containerEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 1px 1px 4px black;
}

.dados {
    text-align: start;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}