.container {
    margin: auto;
    margin-top: 1em;
    text-shadow: 1px 1px 5px black;
    font-family: 'Courier New', Courier, monospace;
}

.titulo {
    background-color: black;
    box-shadow: 1px 1px 10px black;
}
